{
   "extends": [
      "stylelint-config-recommended"
   ],
   "ignoreFiles": [
      "node_modules/**/*",
      "**/*.tsx",
      "**/*.js", "**/*.ts", "**/*.jsx","**/*.html"

   ],
   "rules": {
      "at-rule-no-unknown": [true, {
        "ignoreAtRules": ["tailwind", "apply", "variants", "responsive", "screen"]
      }]
   }
  }
  